{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}
<div>
                {% for products in product %}
                <div>
                            <a href="{{ path('products_details', {slug: products.slug}) }}"><button type="button" class="button mb-3 btn-custom">Consulter</button></a>
                        </div>
                    </div>
                {% endfor %}
</div>
{% endblock %}
